[Unit]
Description=The backend for a Node/Express CRUD app for making lists, such as todo, groceries, etc.

[Service]
Type=simple
ExecStart=%h/.asdf/shims/node %h/Apps/listmaker-node/build/index.js
Restart=on-failure

[Install]
WantedBy=default.target
